apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-demo
  template:
    metadata:
      labels:
        app: nginx-demo
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: welcome-page
              mountPath: /usr/share/nginx/html
              readOnly: true
      volumes:
        - name: welcome-page
          configMap:
            name: nginx-demo-welcome

